<div id="alert_test">
    <?php
    if(isset($alert) && $alert !== NULL){
        if($alert == "1"){
            echo "<div class=\"alert alert-success alert-dismissible\" role=\"alert\">".
                "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>".
                "<strong>Info : </strong> Import avec succès ".$alert_success_count." ".$alert_success_meta_name."</div>";
        }
        elseif($alert == "2"){
            echo "<div class=\"alert alert-success alert-dismissible\" role=\"alert\">".
                "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>".
                "<strong>Info : </strong> Vous avez bien enregistré les instance en paramètres.</div>";
        }
        else{
            echo "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">".
                "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>".
                "<strong>Alert : </strong> Import non réussis .. .".$alert_error."</div>";
        }
    }
    ?>
</div>
<div class="page-header">
    <legend> Synchronisation DHIS2 Data Structure (Metadata)</legend>
</div>
<div class="row bordered">
    <div class="col-sm-8">
        <div class="" style="margin-bottom: 10px;">
            <a class="btn btn-default">Sync Metadata</a>
            <a class="btn btn-default">Export to Excel</a>
        </div>
        <table id="grid" data-toggle="bootgrid" data-ajax="true" data-url="#"
               class="table table-condensed table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" name="all" id="all">
                </th>
                <th>
                    Nom du métadonnées
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Date du dernier import
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <?php
            $cpt = 1;
            //var_dump($listMetadata);
            foreach ($listMetadata as $col) {
                echo '<tr>';
                echo '<td><input id="" name="" type="checkbox"/></td>';
                echo '<td>' . $col['meta_name'] . '</td>';
//                        echo '<td>'.$col['meta_count'].'</td>';
                if ($col['code'] != 'tei') {
                    echo '<td>' . $this->model_metadata->getMetaCount($col['meta_table']) . '</td>';
                } else {
                    echo '<td>' . $this->model_metadata->getTeiCount() . '</td>';
                }
                if ($col['code'] != 'tei') {
                    echo '<td>' . $this->model_metadata->getDateLastUpdateByCode($col['code']) . '</td>';
                } else {
                    echo '<td>' . $this->model_metadata->getTeiLastUpdated() . '</td>';
                }
                echo '<td>';
                echo '<a onclick="loadData()">Sync</a>';
                echo ' |  <a href="' . base_url("" . $col['meta_empty_link']) . '">Empty</a>';
                echo ' |  <a href="' . base_url("" . $col['meta_detail_link']) . '">Detail</a>';
                echo '</td>';
                echo '</tr>';
                $cpt++;
            }
            ?>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info" style="background-color: #FEEE96; margin-top:44px;">
            <div class="panel-body">
                <h4>Note</h4>
                <ul style="margin-left: -10px;">
                    <li>
                        Ce formulaire rassemblera la structure de données de notre instance de DHIS2 afin que nous
                        puissions associer cette
                        structure à la structure de la base de données de PSI.
                    </li>
                    <li>
                        Pour synchroniser un élément de données individuel, cliquez sur le lien Sync.
                    </li>
                    <li>
                        Pour synchroniser plusieurs éléments de données, utilisez les cases à cocher et
                        cliquez sur le bouton "Sync metadata".
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="teste">

</div>
<script type="text/javascript">
function loadData(){
  $(document.documentElement).load("<?php echo base_url("/category/"); ?>");
}
</script>
<script>
    $(document).ready(function () {
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    });
</script>
