html {
}

body {
    font-family: Tahoma, Verdana, Swiss, sans-serif;
    color: #514B52;
    background: #FBFAF9;
}

h1, h2, h3, h5, h6, span.h1 {
    font-family: 'Helvetica', cursive;
    color: #276696;
    margin-top: 8px;
    margin-bottom: 8px;
}

#mast {
}

#main-container {
}

#login-name {
    cursor: help
}

#footer {
    background: #E0E5EC;
    border-top: 1px solid #EAEEF2;
    color: #514B52;
    font-size: smaller;
}

.content {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    overflow:auto;
    padding: 25px;
    margin: 0 auto;
    width:auto;
    height: auto;
    min-height: 100% !important;
    margin-top: -4px;
}
