<!DOCTYPE html>
<html>
<head>
	<title>Study DOM manipulation in angular JS</title>
	<script type="text/javascript" src="../lib/js/bootstrap.js"></script>
	<script type="text/javascript" src="../lib/js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.css">
</head>
<body>
	<h2>AngularJS Sample Application</h2>
	<div ng-app="" ng-controller="changeclick" ng-init="clickCounter = 2">
		<table border="0">
			<tr>
			<!-- Eto zao le enableDisableButton model apifandraisina amle ng-disabled -->
			<!-- Par defaut false le model satria tsy coché le checkbox zan oe hita le izy -->
			<!-- ka raha false le ng-disabled de hita zan le izy  -->
				<td><input type="checkbox" ng-model="enableDisableButton">Disable
					Button</td>
					<td><button ng-disabled="enableDisableButton">Click Me!</button></td>
				</tr>
				<tr>
					<td><input type="checkbox" ng-model="showHide1">Show Button</td>
					<td><button ng-show="showHide1">Click Me!</button></td>
				</tr>
				<tr>
					<td><input type="checkbox" ng-model="showHide2">Hide Button</td>
					<td><button ng-hide="showHide2">Click Me!</button></td>
				</tr>
				<tr>
					<td><p>Total click: {{clickCounter}}</p></td>
					<td><button ng-click="click()">Click
						Me!</button></td>
					</tr>
				</table>
			</div>

<script type="text/javascript">
	function changeclick($scope){
		$scope.click = function(){
			console.log($scope.clickCounter);
			if($scope.clickCounter == 2){
				$scope.clickCounter = $scope.clickCounter + 2;
			}else{
				$scope.clickCounter = $scope.clickCounter - 2
			}
		}
	}
</script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
</script>
</body>
</html>